<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CKQLCT"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".Changepass"></activity>
        <activity android:name=".Forgotpass"></activity>
        <activity android:name=".Rating"></activity>
        <activity android:name=".Transaction"></activity>
        <activity android:name=".Income"></activity>
        <activity android:name=".Expense"></activity>
        <activity android:name=".Statistical"></activity>
        <activity android:name=".Version"></activity>
        <activity android:name=".ChiTieu"></activity>
        <activity android:name=".ThemChiTieu"></activity>
        <activity android:name=".Nav_fragment.ShareFragment"></activity>
        <activity android:name=".Nav_fragment.SettingsFragment"></activity>
        <activity android:name=".Nav_fragment.AboutFragment"></activity>
        <activity android:name=".DoanhMuc_income"></activity>
        <activity android:name=".DoanhMuc_Expense"></activity>
        <activity android:name=".ThemThuNhap"></activity>
        <activity android:name=".ThemThuChi"></activity>
        <activity android:name=".AboutUs"></activity>



    </application>

</manifest>